@using MessengerApplication.WebUI.Models

@model List<ReceiverDataViewModel>
           



@foreach (var item in @Model)
{
   
   <div> @Html.ActionLink(item.FullName,"NewMessage",new { id = item.Id }) </div>
    
}
