@using MessengerApplication.WebUI.Models

@model List<ReceiverDataViewModel>
           




<div id="ReceiverData">

    @foreach (var item in @Model)
    {

    

        using (Html.BeginForm("GetMessages", "Home"))
        {

          
            <div>
               <input type="hidden"  class="ButtonWithId"   name="Id" value=@item.Id>
            </div>

           


            if (item.IsRead == true)
            {

                <input type="submit" value=@item.FullName class="btn btn-success buttonGetMessage" />


            }
            else
            {


                <input type="submit" value=@item.FullName class="btn btn-danger buttonGetMessage" />


            }




        }





    }

   
</div>
